{% load static %}

<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/select2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/af.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/ar.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/az.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/bg.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/bn.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/bs.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/ca.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/cs.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/da.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/de.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/dsb.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/el.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/en.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/eo.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/es.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/et.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/eu.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/fa.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/fi.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/fr.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/gl.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/he.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/hi.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/hr.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/hsb.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/hu.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/hy.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/id.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/is.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/it.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/ja.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/ka.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/km.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/ko.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/lt.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/lv.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/mk.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/ms.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/nb.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/ne.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/nl.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/pa.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/pl.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/ps.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/pt-BR.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/pt.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/ro.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/ru.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/sk.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/sl.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/sq.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/sr-Cyrl.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/sr.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/sv.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/te.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/th.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/tk.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/tr.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/uk.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/vi.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/zh-CN.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2/zh-TW.js" %}"></script>
<script type="text/javascript" src="{% static "js/btn-toggle.js" %}"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
